body {
	font-family: Overlock, cursive;
}
h1 {
	font-family: Carter One, cursive;
}
main {
	width: 90px;
	margin: auto 0px;
}
a {
	text-decoration: none;
	color: rgb(235, 94, 40);
}
h4 {
	margin: 0px;
	font-size: 1em;
	text-align: center;
}
article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
}

article div {
	width: 150px;
	padding: 1em;
	background-color: rgb(255, 252, 242);
}

.Snacks{
	margin: 10px;
	padding: 20px;
	text-align: center;
	align-items: center;
}

.Snack img {
	height: auto;
	width: 150px;
	display: flex;
}

.Snack div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
